<!DOCTYPE html>
<html>
    <head>
        <title>Files of all current users</title>
    </head>
<body>
   
    <form method="POST">
        <div class="mb-3">
        {% if not data %}
            <h1>No files!!</h1>
        {%endif%}
    </form>
        {% for file in data %}
     
            <h1>File name   : {{file.filename}}</h1>
            <p>uploaded at : {{file.date_uploaded}}</p>
            
            <form method="POST"  action="/delete">
                <label for="delete">Delete</label>
                <input type="text" name="filename" value="{{file.filename}}" />
                <input type="submit" value="delete" />
            </form>

            <form method="POST"  action="/rename">
                <label for="rename">Rename :</label>
                <input type="text" name="oldname" value="{{file.filename}}" readonly>
                <input type="text" name="newname" required/>
                <input type="submit" name="submit"  />
            </form>
            
            <form method="POST"  action="/share">
                <label for="share">Share to :</label>
                <input type="text" name="filename" value="{{file.filename}}" readonly>
                <input type="text"  name="share" required/>
                <input type="submit" name="submit"  />
            </form>

            <form method="POST"  action="/download">
                <label for="filename">Download</label>
                <input type="submit" name="filename" value="{{file.filename}}" />
            </form>  

        {% endfor %}
        <br /><br />
    <form method="POST"  action="/upload" enctype="multipart/form-data">
        <label for="myfiles">Upload file</label>
        <input type="file" id="myfile" name="myfiles" multiple="multiple"  />  
        
        <input type="submit" name="upload" value="upload" />
    </form>
   

    <br /><br />

    <form method="Post"  action="/logout" >
        <input type="submit" name="submit" value="Logout" />
    </form>
    <br /><br />
</body>
</html>