<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
    <form method="POST">
        <div class="mb-3">
            <label>Email</label>
            <input type="text" required placeholder="Your email" name="email" value="{{email}}" class="form-control">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" required placeholder="password" value="{{password}}" name="password" class="form-control">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br><br>
    <form method="get"  action="/files">
        <input type="submit" name="submit" value="Go To Files after login" />
    </form>  
    </body>
</html>